<!DOCTYPE html>
<html ng-app="webixApp">
	<head>
		<meta charset="UTF-8">
		<title>Moisture</title>
		<script type="text/javascript" src="../static/js/app.js"></script>
		<!--<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js'></script>-->
	</head>
	<body>
		<h1>Hello world</h1>
		<div ng-controller='pumpController'>
			<button ng-click='turnOn'>On</button>
			<button ng-click='turnOff'>Off</button>
  			<button ng-click='status'>Status</button>
		</div>
	</body>
</html>