<!DOCTYPE html>
<html ng-app="moisture">
	<head>
		{% block head %}
	    	<meta content="text/html; charset=utf-8">
	    	<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Moisture</title>	

			<!--jQuery-->
			<!-- TO-DO add jquery to libs-->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

			<!-- Bootstrap -->
			<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
			<script type="text/javascript" src="../static/lib/bootstrap.min.js"></script>

			<link rel="stylesheet" type="text/css" href="../static/css/style.css">
			<!-- Angular -->
			<script type="text/javascript" src="../static/lib/angular.min.js"></script>

			<script type="text/javascript" src="../static/js/app.js"></script>
			<script type="text/javascript" src="../static/js/controllers.js" ></script>
			<script type="text/javascript" src="../static/js/services.js" ></script>
		{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>